/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mukta Mahee', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    min-height: 100vh;
}

a {
    color: black;
}

p {
    font-weight: 300;
}

ul li {
    list-style-type: none;
}

/* HEADER */

.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header .logo {
    width: 260px;
    height: auto;
}

/* HAMBURGER ICON FOR MOBILE */

.hamburger {
    width: 40px;
}

h1 {
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-weight: 600;
}

.nav_mobile ul li a.active, .nav_desktop ul li a.active {
    color: #BB2427;
}

.nav_mobile {
    position: absolute;
    z-index: 100;
    top: -110vh;
    height: 100vh;
    width: 100vw;
    background-color: #F7FAFB;
    display: flex;
    justify-content: center;
    transition: transform 1s ease;
}

.nav_mobile.active {
    transform: translateY(110vh);
}

.nav_mobile ul {
    margin-top: 100px;
}

.nav_mobile ul li {
    padding: 10px;
    width: 100vw;
}

.nav_mobile a {
    color: black;
    padding: 10px;
    font-weight: 600;
    font-size: 1.3rem;
}

.close_mobile_nav {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.4rem;
    width: 30px;
    color: black;
    background-color: white;
    height: auto;
    border: none;
}

.logo_nav_mobile img {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav_desktop {
    display: none;
}

/* PRESENTATION */

.presentation, .presentation_main {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: url('img/blob.svg');
    background-repeat: no-repeat; */
}

.presentation h1 {
    text-align: start;
}

.presentation img, .presentation_main img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit:cover;

}

.img_presentation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;
}


.img_presentation img {
    z-index: 1;
    filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, 0.5));
}

.text_presentation {
    margin: 10px 0 10px 10px;
    width: 300px;
    text-align: start;
}

.text_presentation p {
    margin-top: 20px;
}

.text_presentation svg {
    display: none;
}

.savoir_plus {
    background-color: white;
    padding: 3px 5px;
    border: 1px solid #BB2427;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 600;
    position: relative;
    transition: all 0.6s ease;
}

.savoir_plus:hover {
    background-color: #BB2427;
    color: white;
}

.savoir_plus:hover img {
    color: white;
}

.savoir_plus img {
    color: red;
    width: 20px;
    position: relative;
    top: 5px;
}

.arrow {
    color: red;
}

/* WAVE 1 */

.waves {
    margin-top: 50px;
}

.wave1 {
    position: relative;
    display: block;
    max-width: 100vw;
    margin-bottom: -5px;
}

.wave1 svg {
    position: absolute;
    bottom: 0;
    display: block;
    max-width: 100%;
    margin: 0;
}

.wave2, .wave3, .wave4 {
    position: relative;
    display: block;
    margin-top: -5px;
    background-color: #F7FAFB;
}

.wave2 path, .wave3 path, .wave4 path {
    display: block;
    margin: 0;
}

.wave3 {
    padding-top: 20px;
    background-color: #F7FAFB;
}

.wave3 svg {
    position: absolute;
    bottom: 0;
    height: 50px;
    max-width: 100vw;
    width: 100%;
}

.wave3 svg path {
    min-width: 100vw;
}

svg path {
    max-width: 100vw;
}

.wave4, .wave4 svg {
    background-color: white;
}

.wave4 svg {
    height: 120px;
    position: absolute;
    top: 0;
    max-width: 100vw;
    width: 100%;
    transform: rotate(-2deg) scale(2 1);
}

.wave4 svg path {
    height: 200px;
}
.waveReal {
    padding-top: 20px
}
.waves.waveReal .wave1 svg {
    height: 80px;
    width: 100vw;
    margin-top: 600px;
}
.waves.waveReal .wave2 {
    background-color: white;
}
/* EXPERIENCE */

.experience {
    background-color: #F7FAFB;  
    padding-bottom: 30px;
}

.experience h2 {
    text-align: center;
    text-transform: capitalize;
}

.experience h2 {
    color: black;
}

.experience p {
    text-align: start;
    padding-left: 20px;
    margin-top: 30px;
    width: 90%;
}

.experience strong {
    color: #BB2427;
}

/* VIDEO CONTAINER */

.video_container {
    background-color: white;
    display: flex;
    align-items: center;
    padding-bottom: 200px;
}

.video {
    width: 50vw;
    margin: auto;
    height: 200px;
    background-color: grey;
    margin-top: 100px;
}

/* DECOUVRIR NOS REALISATIONS */

.decouvrir_realisation {
    margin-top: 100px;
    padding-bottom: 50px;
}

.decouvrir_realisation_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decouvrir_realisation_img img {
    border-radius: 10px;
    border-collapse: separate;
    width: 300px;
    height: 300px;
    filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, 0.5));
}

.decouvrir_realisation_img img:first-child {
    margin-top: 20px;
}

.savoir_plus_mobile {
    padding: 3px 4px;
    font-size: 1rem;
}

.btn_savoir_plus_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.savoir_plus_real_desktop {
    display: none;
    transition: all 0.6s ease;
}

.savoir_plus_real_desktop:hover {
    color: white;
    background-color: #BB2427;
    border: 1px solid black;
}
.savoir_plus_realisations_container {
    display:flex;
    justify-content: center;
}
a.savoir_plus.savoir_plus_realisations {
    
    padding: 3px 8px;
    font-size: 1rem;
    width: 300px;
}

.img_realisation_desktop {
    display: none;
}

.decouvrir_realisation_container {
    padding-bottom: 100px;
}

.img_realisation_tablet {
    display: none;
}

/* CONTACT */

.contact h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 2rem;
}
.contact {
    z-index: 1;
    position: relative;
    background-color: #F7FAFB ;
    margin-bottom: 200px;
}

.wave3.contact_wave_3 {
    z-index: 11;
    position: absolute;
    top:400px;
}

.contact_list {
    
    padding-bottom: 100px;
    margin-top: 20px;
    font-size: 1.5rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item_contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.contact_list svg {
    width: 30px;
    margin-top: 20px;
}
.contact_list a {
    padding-bottom: 3px;
    transition: all 0.5s ease;
    
}
.contact_list a:hover {
    text-decoration: underline;
    color:#BB2427;
}
.icon img {
    width: 40px;
}
/* FOOTER */

.footer {
    position: relative;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    
}

.logo_footer {
    background-color: white;
    margin: auto;
    margin-bottom: 15px;
    width: 150px;
}

.logo_footer img {
    width: 150px;
}

.nav_footer ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav_footer ul li {
    padding: 5px;
}

.nav_footer ul li a {
    color: white;
}

.copyright {
    margin: auto;
    text-align: center;
}

/* Reveal animation */

.reveal_left {
    opacity: 0;
    transform: translateX(-30px);
}

.reveal_left_visible {
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(0.5, 0.1, 0, 1);
}

.reveal_right {
    opacity: 0;
    transform: translateY(20px);
}

.reveal_right_visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.5, 0.1, 0, 1);
}

/* PAGE NOS REALISATIONS */

.title_realisation {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.realisation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.title_realisation {
    text-transform: none;
    margin-bottom: 20px;
}

.nos_realisations {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 30px;
    padding-bottom: 300px;
}

.real_and_hover {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}


.real_and_hover a:hover .nos_realisations_pic {
    -webkit-filter: brightness(25%);
    filter: brightness(25%);
}

.realisation_category {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: bold;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
    transition: all 0.7s ease;

}

.nos_realisations_pic:hover {
    -webkit-filter: brightness(25%);
    filter: brightness(25%);
}

.real_and_hover.active .realisation_category {
opacity: 1;
}

.nos_realisations_pic {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    transition: all 0.7s ease;
    pointer-events: none;
    /* filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5)); */
}

.nos_realisations_pic:hover {
    -webkit-filter: brightness(25%);
    filter: brightness(25%) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.mobile_realisation_desc {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

/* ITEMS REALISATIONS */

.realisations_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 30px;
    /* background-color: #F7FAFB; */
    padding-top: 50px;
    padding-bottom: 300px;
}

.item_realisations {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.histoire_platre {
    box-shadow:  4px 4px 4px rgba(0, 0, 0, 0.5);

}
.histoire_platre p {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.histoire_platre img {
    width: 90%;
    max-width: 800px;
    margin: auto;
    
    border-radius: 16px;
    filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, 0.5));

}
.img_gyspe {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* QUI SOMMES NOUS */
.histoire_diouet {
    padding-bottom: 20px;
}
/* .histoire_diouet p {
    margin-bottom: 5px;
} */
.mentions {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
}
@media screen and (min-width: 452px) {
    .waves {
        margin-top: 80px;
    }
    .wave3 {
        padding-top: 50px;
    }
    .savoir_plus_mobile {
        margin: 10px auto;
    }
    
}

@media screen and (min-width: 768px) {
   
    
    .nav_desktop a:hover {
        color: #BB2427;
    }
    .header .logo {
        margin-top: 30px;
        width: 300px;
    }
    /* Presentation */
    .presentation {
        width: 700px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
        margin-top: 90px;
    }
    .presentation_main img {
        width: 500px; 
        height: 300px;
        object-fit: cover;
    }
    .text_presentation p, .text_presentation h1 {
        position: relative;
        z-index: 10;
        margin-top: 20px;
        margin-left: 20px;
    }
    .text_presentation p {
        width: 400px;
    }
    .text_presentation svg {
        display: none;
        z-index: 1;
        position: absolute;
        min-width: 700px;
        height: 800;
        top: -190px;
        right: 150px;
    }
    .btn_line_return {
        display: none;
    }
    .img_presentation img {
        width: 256px;
        height: 350px;
    }
    /* WAVES */
    .waves {
        margin-top: 100px;
    }
    .wave2 {
        height: 80px;
    }
    .wave3 {
        padding-top: 100px;
    }
    /* EXPERIENCE */
    .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .experience h2 {
        text-align: center;
    }
    .experience p {
        width: 700px;
    }
    /* .experience h2 {
        text-align: start;
        margin-left: 60px;
    }
    .experience p {
        width: 600px;
        margin-left: 40px;
    } */
    /* DECOUVRIR NOS REALISATIONS */
    .decouvrir_realisation {
        margin-top: 20px;
    }
    .decouvrir_realisation_img {
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
    }
    .decouvrir_realisation_img img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
    }
    .btn_savoir_plus_mobile {
        display: none;
    }
    .wave4 {
        height: 120px;
    }
    .savoir_plus.savoir_plus_real_desktop {
        display: block;
        padding: 3px 8px;
        font-size: 1rem;
        width: 300px;
        margin: auto;
        text-align: center;
    }
    .decouvrir_realisation_img img:first-child {
        margin-top: 0px;
    }
    .img_realisation_tablet {
        display: block;
    }
    .savoir_plus_realisations_container {
        display: block;
        margin-left: 50px;
    }
    
        
    
    .title_realisation {
        margin-bottom: 50px;
    }
    /* CONTACT */
    .contact_list {
        margin-top: 100px;
        flex-direction: row;
        justify-content: space-around;
    }

    .histoire_platre_text {
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 920px) {
    .nav_desktop {
        display: block;
    }
    .nav_desktop ul {
        display: flex;
        margin-top: 60px;
    }
    .nav_desktop ul li {
        padding: 0 15px;
    }
    .nav_desktop a {
        color: black;
        transition: color 0.6s ease;
        font-weight: 600;
        font-size: 1rem;
    }
    #hamburger {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .header .logo {
        width: 400px;
    }
    .nav_desktop {
        margin-top: 10px;
    }
    
    .presentation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .text_presentation {
        width: auto;
    }
    .text_presentation h1, .text_presentation p {
        padding-right: 160px;
        width: 500px
    }
    .text_presentation svg {
        right: 250px;
        width: 200px;
        top: -150px;
    }
    .img_presentation img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        margin-top: 80px;
    }
    .presentation_main img {
        width: 800px; 
        height: 400px;
        object-fit: cover;
    }
    .waves {
        margin-top: 140px;
    }
    .wave2 {
        height: 120px;
    }
    /* REALISATIONS */
    .img_realisation_desktop {
        display: block;
    }
    .footer {
        padding-bottom: 40px;
    }
    .logo_footer img, .logo_footer {
        width: 250px;
    }
    .nav_footer_and_copyright {
        display: flex;
        justify-content: space-between;
    }
    .copyright {
        margin-right: 20px;
    }
    .nav_footer ul {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_footer {
        margin-left: 20px;
    }
    .nav_footer ul li a {
        padding: 0 10px;
        font-weight: bold;
        transition: color 0.6s ease;
    }
    .nav_footer ul li a:hover {
        color: #BB2427;
    }
    .histoire_platre p {
        width: 900px;
        margin: 5px auto 5px;
    }
    .histoire_platre_text {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1065px) {
    .nav_desktop a {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1400px) {
    .presentation {
        margin: 20px auto 220px auto;
    }
    .presentation img {
        width: 600px;
        height: 400px;
    }
    .histoire_platre p {
       width: 1000px;
       margin-bottom: 20px;
       text-align: start;
    }
    .histoire_platre_text {
        margin-bottom: 50px;
        
    }
}

@media screen and (min-width: 1450px) {
    .header {
        margin-right: 30px;
    }
    .header .logo {
        width: 600px;
    }
    .nav_desktop {
        margin-top: 40px;
    }
    .nav_desktop a {
        font-size: 1.2rem;
        padding: 0 10px;
    }
    .text_presentation svg {
        right: 400px;
        height: 600px;
    }
    .presentation {
        justify-content: center;
        grid-gap: 100px;
    }
    .text_presentation h1, .text_presentation p {
        margin-left: 100px;
    }
    .waves {
        margin-top: 180px;
    }
    .wave2 {
        height: 140px;
    }
}

@media screen and (min-width: 1750px) {
    .wave2 {
        height: 180px;
    }
}